<!DOCTYPE html>
<html lang="es" ng-app="app" >
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>Buscar Evento</title>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

     <!-- Bootstrap Css Library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="buscarEvento.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="controller.js"></script>
 
  
   <!-- Bootstrap Material Library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script  type="text/javascript" src="typeahead.bundle.js"></script>

 
</head>
<body class="colorsito font " ng-controller="controlador">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar9">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="brand-centered">
      <a class="navbar-brand" href="../index.html"><img style=" width: 50px; height: 56px; padding: 0px;" src="../IMG/LogoFunMe.png" alt="logo">
      </a>
      </div>
      
      <div id="navbar9" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left menu">
       		<li><a ng-click="buscarEvent()"><span class="glyphicon glyphicon-search"></span> Buscar Eventos</a></li>
			<li><a ng-click="crearEvento()"><span class="glyphicon glyphicon-plus"></span> Crear Evento</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right menu ">
   
		     <li><a ng-click="misEventos()"><span class="glyphicon glyphicon-list-alt"></span> Mis Eventos</a></li>
		      <li><a href="../index.html"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
     </div>  
</div>
  </nav>


  <div class="container espacio">
  <div class="row ">
  <div class="col-md-4 col-md-offset-2 color">
  <br>
            <h1>Buscar Evento</h1>      
    <p>Rellena los campos (Campos * obligatorios):</p>
    </div>
 <div class=" col-md-4 ">

    
  <form name="buscarEvento">

    <div class="form-group">
    <label for="nombre" class="color">Lugar*</label>
    <div>
    	<input type="text" class="form-control typeahead tt-query" ng-model="lugar" name="lugar" id="lugar" autocomplete="on" spellcheck="false" required>
	</div>
  </div>
    <div class="form-group color">
    <label for="nombre">Interés*</label>
    <select class="form-control" ng-model="interes" id="interes"
								name="interes" required>
								<option>Deportes</option>
								<option>Idiomas</option>
								<option>Cultura</option>
							</select>
  </div>

     <div class="form-group">
<center>
	<button type="reset">Restablecer</button>
	<button type="submit" ng-click="buscarEvent()">Buscar</button>
	 <div class="modal fade" id="err" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>No se ha podido realizar la búsqueda</p>
        </div>
        <div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelar()">Close</button>
        </div>
      </div>
    
</div>
</div>
</center>
</div>

</form>

    </div>

  </div>
</div>


</body>
</html>
