    
.colorsito
{
/* Ubicación de la imagen */

	  background-image: url(../IMG/bgris.jpg);

	  background-position: center center;

	  background-repeat: no-repeat;

	  background-attachment: fixed;

	  background-size: cover;

	  background-color: #464646;
	
}


.color {
	color: white;
}
.espacio {
	margin-top: 50px;
}

.typeahead, .tt-query, .tt-hint {
	height: 33px;
	line-height: 33px;
	outline: medium none;
	width: 660px;
}
.typeahead {
	background-color: #FFFFFF;
}

.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	padding: 3px 10px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}