<html lang="es" ng-app="app" >
<head>
  	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
 	<title>Login</title>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="index.css">
     <!-- Bootstrap Css Library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="index.js"></script> 
  
   <!-- Bootstrap Material Library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body ng-controller="controlador" class= "colorsito font" >
 
 <div class="container">
<div class="container espacio">
 <div class="text-center col-md-5 color espacione  col-md-offset-1"> 
           <img style=" width: 225px; height: 280px; padding: 0px;" src="IMG/LogoFunMeBlanco.png" alt="logo"> 
     <h3>Conoce gente mientras te diviertes</h3>     

    

 </div>

 <div class = "jumbotron col-md-5 ">
 <div class = "container">
   <h4>Introduce tus datos o regístrate:</h4><br>
 <form name="login2">
  <div class="form-group">
    <label for="inputdefault">Email:</label>
    <input class="form-control" id="email" type="email" ng-model="email" placeholder="email" required>
  </div>
  <div class="form-group">
    <label for="inputdefault">Contraseña:</label>
    <input class="form-control" id="pwd" type="password" ng-model="password" placeholder="password" required>
  </div>
  <div class=" text-center">
    <a href="Registro/registro.html" class="btn btn-default espacior">Registro</a>
    
    <input type="submit" class="btn btn-default espaciol" ng-click="login()" value="Login" />
  </div>

</form>
</div>

</div>




</div>
</div> 

  	
  		<div class="modal fade" id="err" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header text-center ">
		          <h4 class="modal-title">Información</h4>
		        </div>
		        <div class="modal-body">
		          <p>El correo electrónico y/o la contraseña es incorrecto. Inténtelo de nuevo.</p>
		        </div>
		        <div class="modal-footer">
		          		<input type="submit" class="center-block btn btn-default font" data-dismiss="modal" ng-click="cancelar()" value="Volver" />
		        </div>
		      </div>
		    
			</div>
		</div>





</body>
</html>
