
.colorsito
{
/* Ubicación de la imagen */

	  background-image: url(IMG/bgris.jpg);

	  background-position: center center;

	  background-repeat: no-repeat;

	  background-attachment: fixed;

	  background-size: cover;

	  background-color: #464646;
	
}

.navbar {
background-color: white;
} 
.color {
	color: white;
}
.espacio {
	margin-top: 110px;
}
.espacior {
	margin-right: 10px;
}
.espaciol {
	margin-left: 10px;
}