
.colorsito
{


	  background-image: url(IMG/pruebaaz.jpg);

	  background-position: center center;

	  background-repeat: no-repeat;

	  background-attachment: fixed;

	  background-size: cover;
	   background-color: white;
} 

/* .navbar{
Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss
background: rgb(246,248,249); Old browsers
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); FF3.6-15
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); Chrome10-25,Safari5.1-6
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); IE6-9

}  */
.img { border:0.5px solid black;}
.color{
	color: white;
}
.font {
  font-family: 'Century Gothic', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}
.espacio {
	margin-top: 180px;
}
.espacione {
	margin-top: -35px;
}

.espacior {
	margin-right: 10px;
}
.espaciol {
	margin-left: 10px;
}

.jumbotron {

    background-color: transparent !important;

    color: white !important;

}

