<!DOCTYPE html>
<html lang="es" ng-app="app" >
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <title>Crear Evento</title>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

     <!-- Bootstrap Css Library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="crearEvento.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="controller.js"></script>
 
  
   <!-- Bootstrap Material Library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 
</head>
<body ng-controller="controlador">

<div class="colorsito">
  <div class="container-fluid ">
 <nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <a href="../BuscarEvento/buscarEvento.html" > <img class="img-thumbnail" src="../IMG/logo.png" width="135" height="135"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      		<li><a ng-click="buscarEvento()"><span class="glyphicon glyphicon-search"></span> Buscar Eventos</a></li>
		      <li><a ng-click="misEventos()"><span class="glyphicon glyphicon-list-alt"></span> Mis Eventos</a></li>
		      <li><a href="../index.html"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
		</ul>

</nav>
  </div>
 <div class="container espacio">
 <div class="row">
  <div class="container col-sm-4 "></div>
      <div class="container color col-sm-4">
    <h1>Crear Evento</h1>      
    <p>Rellena los campos (Campos * obligatorios):</p>
    </div>
     <div class="container col-sm-4"></div>
 </div>
 </div>  
  <div class="container">
 <div class="row espaciot ">
 <div class="container col-sm-4 sidenav"></div>
 <div class = "container jumbotron col-sm-4 ">
    
  <form name="crearEvento">
  <div class="form-group">
    <label for="dia">Dia*</label>
    <input class="form-control input-sm" ng-model="dia" type="date" id="dia" name="dia" placeholder="dd/mm/aaaa" min="{{fechaActual}}" max="2099-12-31" title="Formato incorrecto. Ajustese al formato dd/mm/aaaa" required>
  </div>
    <div class="form-group">
    <label for="hora">Hora*</label>
    <input class="form-control input-sm" ng-model="hora" type="time" id="hora" name="hora" placeholder="hh:mm" title="Formato incorrecto. Ajustese al formato hh:mm" required>
  </div>
    <div class="form-group">
    <label for="lugar">Lugar*</label>
    <input class="form-control input-sm" ng-model="lugar" type="text" id="lugar" name="lugar" required>
  </div>
  <div class="form-group">
    <label for="nombre">Nombre del evento*</label>
    <input class="form-control input-sm" ng-model="nombre" type="text" id="nombre" name="nombre" required>
  </div>
    <div class="form-group">
    <label for="nombre">Intereses*</label>
    <select class="form-control" ng-model="interes" id="interes"
								name="interes" required>
								<option>Deportes</option>
								<option>Idiomas</option>
								<option>Cultura</option>
							</select>				
  </div>
  <div class="form-group">
    <label for="nombre">Aforo (50 máximo)*</label>
    <input class="form-control input-sm" ng-model="aforo" type="number" min="1" max="50" id=""aforo"" name="aforo" required>
  </div>
  <div class="form-group">
    <label for="nombre">Descripción</label>
    <textarea class="form-control input-sm" ng-model="desc" type="text" id="desc" name="desc" rows="10" cols="40">
    Escribe una descripcion</textarea>
  </div>
     <div class="form-group">
<center>
	<button type="button" ng-click="cancelar()">Cancelar</button>
	<button type="submit" ng-click="insertEvent()">Guardar</button>
	<button type="reset">Restablecer campos</button>
	 <div class="modal fade" id="ok" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Tu evento ha sido creado correctamente</p>
        </div>
        <div class="modal-footer center">
          		<button type="button" class="btn btn-default" ng-click="cancelar()">Cerrar</button>
        </div>
      </div>
    
</div>
</div>
 <div class="modal fade" id="err" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>Tu evento no ha podido crearse</p>
        </div>
        <div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    
</div>
</div>
</center>

</form>

    </div>
    <div class="col-sm-4 sidenav">


    </div>
  </div>
</div>
</div>
</body>
</html>
