<!doctype html>
<html lang="es" ng-app="mwl.calendar.docs">
  <head>
  	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
 	<title>Calendario</title>
    <!-- Angular Material style sheet -->
  	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"> 

    <!-- Bootstrap Css Library -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  	<!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  
   	<!-- Bootstrap Material Library -->
   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.4/interact.min.js"></script>
    <script src= https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_es-es.min.js></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>
    <script src="http://cdn.rawgit.com/jkbrzt/rrule/v2.1.0/lib/rrule.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="http://mattlewis92.github.io/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    <script src="example.js"></script>
    <script src="helpers.js"></script>
    <link rel="stylesheet" href="calendario.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/css/colorpicker.min.css" rel="stylesheet">
    <link href="http://mattlewis92.github.io/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
  </head>

<body class= "colorsito font" ng-controller="KitchenSinkCtrl as vm">

  <nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar9">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="brand-centered">
      <a class="navbar-brand"><img style=" width: 50px; height: 56px; padding: 0px;" src="../IMG/LogoFunMe.png" alt="logo">
      </a>
      </div>
      
      <div id="navbar9" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left menu">
       		<li><a href="" ng-click="buscarEvento()"><span class="glyphicon glyphicon-search"></span> Buscar Eventos</a></li>
			<li><a href="" ng-click="crearEvento()"><span class="glyphicon glyphicon-plus"></span> Crear Evento</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right menu ">
   
		     <li><a href="" ng-click="misEventos()"><span class="glyphicon glyphicon-list-alt"></span> Mis Eventos</a></li>
		      <li><a href="../index.html"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
     </div>  

  </nav>

 <div class = "container ">
	<h2 class="text-center color ">{{ vm.calendarTitle }}</h2>
	<h2 class="text-center color">{{inter}} en {{lug}}</h2>

		<div class="row">

				<div class="col-md-3 text-center col-md-offset-1">
	    			<button type="button" class="btn btn-info btn-lg glyphicon glyphicon-filter font espaciotop" data-toggle="modal" data-target="#myModal"><span class="font"> Filtrar</span></button>
              <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Búsqueda por nombre</h4>
                        </div>
                      <div class="modal-body">
                      	<form>
                        <p>Introduzca el nombre del evento que desea buscar</p>
                        Nombre del evento: <input type="text" name="evento" ng-model="evento">
                        <br><br>
                        
                          <div class="modal-footer">
                          <button class="btn btn-primary btn-sm" type="submit" ng-click="busquedaAvanzada()" data-dismiss="modal"><span class="font"> Buscar</span></button>
                          <button class="btn btn-primary btn-sm" ng-click="reset()">Restablecer</button><br>
                          </div>
                    	</form>
                      </div>
                    </div>
                </div>
              </div>
              </div>
	
	    <div class="col-md-4 text-center">
	      <div class="btn-group" align="center"> 
		        <label class="btn btn-default"  ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Año</label>
		        <label class="btn btn-default" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mes</label>
		        <label class="btn btn-default" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semana</label>
		        <label class="btn btn-default " ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Dia</label>   
	      	</div>
	      	<br>
	      	<div>
	      		<button
			          class="btn btn-default espaciotop "
			          mwl-date-modifier
			          date="vm.viewDate"
			          decrement="vm.calendarView"
			          ng-click="vm.cellIsOpen = false">
			          <<
			     </button>
	      		 <button
				          class="btn btn-default espaciotop "
				          mwl-date-modifier
				          date="vm.viewDate"
				          set-to-today
				          ng-click="vm.cellIsOpen = false">
				          HOY
				     </button>
			        <button
			          class="btn btn-default espaciotop "
			          mwl-date-modifier
			          date="vm.viewDate"
			          increment="vm.calendarView"
			          ng-click="vm.cellIsOpen = false">
			          >>
			        </button>
	      	</div>
	    </div>

	    <div class="col-md-3 text-center">
		       <label class="btn btn-success btn-lg glyphicon glyphicon-plus" ng-click="crearEvento()"><span class="font"> Añadir evento</span></label>
		    </div>

	      </div>

	  <br>
	
	<div class="row">

		    <div class="calendario col-md-12 ">
	  <mwl-calendar
	    events="vm.events"
	    view="vm.calendarView"
	    view-title="vm.calendarTitle"
	    view-date="vm.viewDate"
	    on-event-click="vm.eventClicked(calendarEvent)"
	    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
	    edit-event-html="'<div class=\'btn btn-primary btn-sm pull-right\'><i class=\'ti-pencil\'></i></div>'"
	    cell-is-open="vm.cellIsOpen"
	    day-view-start="06:00"
	    day-view-end="22:59"
	    day-view-split="30"
	    cell-modifier="vm.modifyCell(calendarCell)"
	    cell-auto-open-disabled="true"
	    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
	  </mwl-calendar>
	  
	  
	  </div>
	  </div>
	<br><br>


</div>
<div class="modal fade" id="err" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>No se han podido cargar los eventos</p>
        </div>
        <div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    
</div>
</div>

<div class="modal fade" id="err2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Información</h4>
        </div>
        <div class="modal-body">
          <p>No se ha podido mostrar la información del evento. Vuelve a intentarlo</p>
        </div>
        <div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    
</div>
</div>
  </body>
</html>
