.colorsito
{
/* Ubicación de la imagen */

	  background-image: url(../IMG/basul.jpg);

	  background-position: center center;

	  background-repeat: no-repeat;

	  background-attachment: fixed;

	  background-size: cover;

	  background-color: #464646;

}
.font {
  font-family: 'Century Gothic', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}
.espaciotop {
	margin-top: 10px;
}

.espacioleft {
	margin-left: 10px;

}
.espacioright {
	margin-right: 10px;

}
.calendario{
	background-color: #f2f2f2;
    border-radius: 10px;
}

.color {
	color: white;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
 
}
.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}

/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */
.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}

.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 5px;
  margin-left: 5px;
}
.menu{
		margin-right: -100px;
  margin-left: -100px;
}
.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}
