
      <div class="modal-header">
        <h3 class="modal-title">Información del evento {{ vm.event.nombre }}:</h3>
      </div>
      <div class="modal-body">
        <p>Nombre del evento:
        <pre>{{ vm.event.nombre }}</pre>
        </p>
        <p>Lugar:
        <pre>{{ vm.event.lugar }}</pre>
        </p>
        <p>Categoría:
        <pre>{{ vm.event.categoria }}</pre>
        </p>
        <p>Fecha y Hora:
        <pre>{{ vm.event.dia }} - {{ vm.event.hora }}</pre>
        </p>
        <p>Descripción:
        <pre>{{ vm.event.descripcion }}</pre>
        </p>
        <p>Creador:
	        <div ng-hide="vm.event.emailLogin !== vm.event.creador">
		        <pre>Eres el creador del evento</pre>
	        </div>
	        <div ng-hide="vm.event.emailLogin === vm.event.creador">
		        <pre>{{vm.event.creador}}</pre>
	        </div>
        </p>
        <p>Integrantes:
        <pre>{{ vm.event.participantes }} / {{ vm.event.aforo }}</pre>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">Cancelar</button>
        <button class="btn btn-primary" ng-click="unirse()" ng-disabled="vm.event.participantes === vm.event.aforo" ng-hide="vm.event.emailLogin === vm.event.creador">Unirse</button>
      </div>
    