<!DOCTYPE html>
<html lang="es" ng-app="app" >
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <title>Mis Eventos</title>
  <!-- Angular Material style sheet -->

      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!-- Bootstrap Css Library -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="MisEventos.css">

  <!-- Angular Material requires Angular.js Libraries -->

      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->

      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>  <!-- Angular Material requires Angular.js Libraries -->

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->

      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
      <script src="controller.js"></script>
     
  
  <!-- Bootstrap Material Library -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script  type="text/javascript" src="typeahead.bundle.js"></script>
 
</head>

<body class="colorsito" ng-controller="controlador">

  <div class="container-fluid ">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <a href="../index.html" > <img class="img-thumbnail" src="../IMG/logo.png" width="135" height="135"></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      		<li><a ng-click="buscarEvento()"><span class="glyphicon glyphicon-search"></span> Buscar Eventos</a></li>
		      <li><a ng-click="misEventos()"><span class="glyphicon glyphicon-list-alt"></span> Mis Eventos</a></li>
		      <li><a href="../index.html"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
		</ul>
    </nav>
  </div>
<br><br>

<div class="container  ">
  <div class="row espacioH1">
    <div class="col-md-2"></div>
      <div class="color col-md-8 ">
        <h1>Mis Eventos</h1>      
      </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="container ">
  <div class="row  ">
    <div class="col-md-2 "></div>
    <div class="col-md-8 ">
    

  <div class="jumbotron list-group " ng-repeat="usuario in equipo" ng-hide="equipo.length == 0 || equipo.length == 0">
<div class="container espacio">
              <h2>{{usuario.nombre}}</h2> 
                </div>  
              <a class="list-group-item">Nombre del evento: {{usuario.nombre}}</a>
               <a  class="list-group-item">Email: {{usuario.creador}}</a>
                <a class="list-group-item">Categoria: {{usuario.categoria}}</a>
                <a class="list-group-item">Fecha: {{usuario.dia}} - {{usuario.hora}}</a>
                  <a class="list-group-item">Lugar: {{usuario.lugar}}</a>
                  <a class="list-group-item">Descripción: {{usuario.descripcion}}</a>
                  <a class="list-group-item">Participantes: {{usuario.integrantes}}/{{usuario.aforo}}</a>
                  
                  <button type="button" class="btn btn-default" ng-click="cancelarEv()" ng-hide="usuario.creador != usuario.email">Cancelar evento</button>
                  <button type="button" class="btn btn-default" ng-click="DesunirEv()" ng-hide="usuario.creador == usuario.email">Desunirse</button>
</div>
<br>
<br>
<br>
<br>
	<div class="jumbotron list-group" ng-hide="equipo.length != 0 || equipo.length != 0">
		<center>
			<h2>No tienes ningún evento</h2> 
	    </center>      
	</div>
      
</div>

    <div class="col-md-2 "></div>
  </div>
</div>


</body>
</html>
