<!DOCTYPE html>
<html lang="es" ng-app="app" >
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <title>Mis Eventos</title>
  <!-- Angular Material style sheet -->

      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!-- Bootstrap Css Library -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="MisEventos.css">

  <!-- Angular Material requires Angular.js Libraries -->

      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->

      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>  <!-- Angular Material requires Angular.js Libraries -->

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->

      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
      <script src="controller.js"></script>
     
  
  <!-- Bootstrap Material Library -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
</head>

<body class="colorsito font" ng-controller="controlador">
  <nav class="navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar9">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      
      <div class="brand-centered">
      <a class="navbar-brand" href="../index.html"><img style=" width: 50px; height: 56px; padding: 0px;" src="../IMG/LogoFunMe.png" alt="logo">
      </a>
      </div>
      
      <div id="navbar9" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left menu">
       		<li><a ng-click="buscarEvento()"><span class="glyphicon glyphicon-search"></span> Buscar Eventos</a></li>
			<li><a ng-click="crearEvento()"><span class="glyphicon glyphicon-search"></span> Crear Evento</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right menu ">
   
		     <li><a ng-click="misEventos()"><span class="glyphicon glyphicon-list-alt"></span> Mis Eventos</a></li>
		      <li><a href="../index.html"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
     </div>  
</div>
  </nav>


 <div class = "container ">

      	<div class="row color">
   
      	<div class="col-md-5 sepr">
	        <h1>Mis Eventos</h1>
	        <div class="btn-group">
	        <button type="button" class="btn btn-default" ng-click="events('todos')">Todos</button>
	        	<button type="button" class="btn btn-default" ng-click="events('creados')">Creados</button>
	        	<button type="button" class="btn btn-default" ng-click="events('unidos')">Unidos</button>
	        </div>
	        </div>
       
      </div>
  




  <div class="row  ">    
<br>

  <div class=" container jumbotron col-md-5 sep " ng-repeat="evento in eventos" ng-hide="eventos.length == 0 || eventos.length == 0">

			<div class="container espacio text-center">
              <h2>{{evento.nombre}}</h2> 
             </div>  
              <a class="list-group-item">Nombre del evento: {{evento.nombre}}</a>
               <a  class="list-group-item">Email: {{evento.creador}}</a>
                <a class="list-group-item">Categoria: {{evento.categoria}}</a>
                <a class="list-group-item">Fecha: {{evento.dia}} - {{usuario.hora}}</a>
                  <a class="list-group-item">Lugar: {{evento.lugar}}</a>
                  <a class="list-group-item">Descripción: {{evento.descripcion}}</a>
                  <a class="list-group-item">Participantes: {{evento.integrantes}}/{{evento.aforo}}</a>
                  <br>
                 <center>
                  <button type="button" class="btn btn-default" ng-click="comprobarEv(evento,'eliminar')" ng-hide="evento.creador != evento.email">Eliminar evento</button>
                  <button type="button" class="btn btn-default" ng-click="comprobarEv(evento,'desunir')" ng-hide="evento.creador == evento.email">Desunirse</button>
</center>
</div>

<br>
<br>
<br>
<br>
	<div class="jumbotron list-group" ng-hide="eventos.length != 0 || eventos.length != 0">
		<center>
			<h2>No tienes ningún evento</h2> 
	    </center>      
	</div>
    
  </div>

<div class="modal fade" id="borrar" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Alerta</h4>
        </div>
        <div class="modal-body">
          <p ng-hide="eliminar == false">¿Está seguro que desea eliminar el evento?</p>
          <p ng-hide="eliminar == true">¿Está seguro que desea desunirse del evento?</p>
        </div>
        <div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="eliminarEv()">Si</button>
        </div>
      </div>
    
</div>
</div>
</div>
</body>
</html>
